# Archivos que no deben subirse
partials/conexionBD.php
controladores/controlAcceso.php
controladores/functionConectionBD.php
# Ignorar carpetas que no deben subirse
archivos/
bd/

# Ignorar archivos de video pesados
*.mp4
*.MP4
*.mov
*.MOV

# Ignorar archivos de configuración locales
config.php
.env
